* {box-sizing: border-box}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #193634;
}

.btn-group .button{
    background-color: ;
    border: none;
    color: #3a6562;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;}

.tablink .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    color: white;
    display: none;
    padding: 10px 20px;
    height: 100%;
}

h3 {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 40px;
    color: #C4A484;
   }

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.phome {
    text-align: center;
    font-size: 26px;
}

.aboutme {
    text-align: center;
    font-size: 26px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 80px;
}

header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 3s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

#top {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: var(--dark-blue);
    color: white;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    border-radius: 20px;
}

#to-top {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

